$icomoon-font-path: "fonts" !default;

$icon-left_arrow: "\e900";
$icon-right_arrow: "\e901";
$icon-loader: "\e902";
$icon-plus: "\f48a";
$icon-close: "\f404";
$icon-search: "\e903";
$icon-ion-social-rss: "\f23d";
$icon-linkedin: "\f239";
$icon-github: "\e904";

