@import '~styles/main';

.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: $white;
    z-index: $navigation-z-index + 1;

    .close {
        position: relative;
        margin: 0 auto !important;
    }

    .closeButton {
        position: absolute;
        top: rem-calc(20);
        right: rem-calc(20);
        outline: none;

        i {
            font-size: rem-calc(48);
            line-height: 0;
            vertical-align: middle;
        }

        @include breakpoint(small only){
            top: rem-calc(10);
            right: rem-calc(10);
        }
    }
}