{
    "presets": [
        "es2015",
        "react",
        "stage-2"
    ],
    "plugins": [
        "lodash",
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                }
            }
        ],
        "transform-object-rest-spread",
        "transform-regenerator",
        "syntax-dynamic-import"
    ],
    "env": {
        "development": {
            "plugins": []
        },
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                "dynamic-import-node"
            ]
        }
    }
}
