{
    "presets": [
        ["env", {
            "modules": false,
            "targets": {
                "browsers": ["last 2 versions"]
            },
            "useBuiltIns": true
        }],
        "react",
        "stage-2"
    ],
    "plugins": [
        "lodash",
        [
            "module-resolver",
            {
                "root": [
                    "."
                ],
                "alias": {
                    "dist": "./dist",
                    "src": "./src",
                    "client": "./src/client",
                    "server": "./src/server",
                    "shared": "./src/shared"
                }
            }
        ],
        "transform-object-rest-spread",
        "transform-regenerator",
        "syntax-dynamic-import",
        "react-loadable/babel"
    ],
    "env": {
        "development": {
            "plugins": [],
            "presets": [
                "node8"
            ]
        },
        "test": {
            "plugins": [
                "transform-es2015-modules-commonjs",
                "dynamic-import-node"
            ]
        }
    }
}
