{
    "root": true,
    "extends": "nfen/react",
    "settings": {
        "import/parser": "babel-eslint",
        "import/resolver": {
            "webpack": {
                "config": "webpack/common/webpack.common.config.babel.js"
            }
        }
    }
}