node_modules
/dist/*
!/dist/server_entry.js
__coverage__
.vscode
*.log
certs
.env
docker/nginx/vhost.d/default
docker/nginx/vhost.d/*.neal.codes*
docker/nginx/vhost.d/neal.codes*
docker/nginx/conf.d/default.conf
.env.production