{
    "extension": [
      ".js",
      ".jsx"
    ],
    "reporter": [
      "html",
      "text-summary"
    ],
    "exclude": [
        "tests",
        "webpack",
        "shared",
        "server",
        "config.js",
        "buildStamp.js",
        "node_modules",
        "**/*.spec.js"
    ],
    "cache": true,
    "sourceMap": false,
    "instrument": false
}