version: '3.3'

services:

  app:
    image: keymetrics/pm2:8-alpine
    restart: always
    build:
      context: .
    command: docker:${DOCKER_ENV:-development}
    expose:
      - ${VIRTUAL_PORT-?err}
    volumes:
      - .:/var/www/app
    environment:
      - ${VIRTUAL_HOST-?err}
      - ${VIRTUAL_PORT-?err}
      - ${LISTEN_HOSTNAME-?err}
    env_file:
      - ".env"
      - "./docker/env/app.${DOCKER_ENV:-development}.env"

  ghost:
    image: ghost:alpine
    restart: always
    ports:
      - 2368
    volumes:
      - "ghost_content:/var/lib/ghost/content"
    # see https://docs.ghost.org/docs/config#section-running-ghost-with-config-env-variables
    env_file:
      - "./docker/env/ghost.${DOCKER_ENV:-development}.env"

  nginx-proxy:
    image: jwilder/nginx-proxy:alpine
    labels:
      com.github.jrcs.letsencrypt_nginx_proxy_companion.nginx_proxy: "true"
    restart: always
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginx-certs:/etc/nginx/certs:rw
      - nginx-html:/usr/share/nginx/html
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./docker/nginx/conf.d/gzip.conf:/etc/nginx/conf.d/gzip.conf:ro
      - ./docker/nginx/conf.d/headers.development.conf:/etc/nginx/conf.d/headers.conf:ro
      - ./docker/nginx/vhost.d:/etc/nginx/vhost.d:ro
      - .:/var/www/app

  letsencrypt-nginx-proxy-companion:
    links:
      - nginx-proxy
    image: jrcs/letsencrypt-nginx-proxy-companion
    volumes:
      - nginx-certs:/etc/nginx/certs:rw
      - nginx-html:/usr/share/nginx/html
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./docker/nginx/vhost.d:/etc/nginx/vhost.d:rw
      - ./docker/nginx/conf.d/gzip.conf:/etc/nginx/conf.d/gzip.conf:ro
      - ./docker/nginx/conf.d/headers.development.conf:/etc/nginx/conf.d/headers.conf:ro

volumes:
  ghost_content:
  nginx-certs:
  nginx-html: