version: '3.3'

services:
  app:
    volumes:
      - /mnt/volume-sfo2-01/app:/var/www/app  

  nginx-proxy:
    volumes:
      - /mnt/volume-sfo2-01/app:/var/www/app  
      - /mnt/volume-sfo2-01/app/docker/nginx/vhost.d:/etc/nginx/vhost.d:ro

  letsencrypt-nginx-proxy-companion:
    env_file:
      - ".env"
    volumes:
      - /mnt/volume-sfo2-01/app/docker/nginx/vhost.d:/etc/nginx/vhost.d:rw

  ghost:
    volumes:
      - "/mnt/volume-sfo2-01/ghost/content:/var/lib/ghost/content"
