@import 'styles/main.pcss';

.Article {
    flex-basis: 75%;
    max-width: 75%;

    & .content {

        & img {
            width: 100%;
        }
    }
}

@media (--medium-only) {

    .Article {
        flex-basis: 80%;
        max-width: 80%;
    }
}

@media (--small-only) {

    .Article {
        flex-basis: 95%;
        max-width: 95%;
    }
}
