$icomoon-font-path: "fonts" !default;

$icon-arrow_left: "\e900";
$icon-arrow_right: "\e901";
$icon-loader: "\e902";
$icon-plus: "\f48a";
$icon-close: "\f404";
$icon-search: "\e903";
$icon-rss: "\f23d";
$icon-linkedin: "\f239";
$icon-github: "\e904";
$icon-keybase: "\e905";
$icon-codepen: "\f1cb";

