@import '~styles/main';

.header {
    margin: 0 0 ($global-margin * 2) 0 !important;
}

.title {
    @include breakpoint(small only){

    }
}

.date {
    display: inline;
    margin-bottom: 0;
    margin-left: rem-calc(5);
}