@import 'styles/main.pcss';

.Layout {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: var(--xlarge-width);
    min-height: 100vh;
    padding-top: var(--navigation-height);
}
