@import '~styles/main';

.tags {
    list-style-type: none;
    margin: 0;

    li {
        margin-right: rem-calc(5);
        display: inline-flex;

        &:last-child {
            margin-right: 0;
        }
    }
}