@import '~styles/main';

.gallery {
    margin: 0 auto !important;
    height: 100vh;

    .image {
        img {
            width: 100%;
        }
    }

    button {
        color: $primary-color;
        font-size: rem-calc(32);
        outline: none;
    }

    @include breakpoint(small only){
        button {
            font-size: rem-calc(30);
        }

        .image {
            overflow-y: hidden;
            max-height: 50vh;
        }
    }
}