:root {
    --turquoise: #42bfba;
    --turquoise-dark: #38a5a1;
    --white: #ffffff;
    --grey: #a4a4a4;
    --grey-light: #cacaca;
    --primary: var(--turquoise);
    --secondary: var(--grey);
    --tertiary: var(--grey-light);
}
