@import '~styles/main';

.post {
    .postLeft {
        .readMore {
            color: $medium-gray;
            margin-left: rem-calc(10);
            font-size: rem-calc(28);
            line-height: rem-calc(16);
            display: inline-block;
            transform: translateY(40%);
        }
    }
}
