@import 'styles/main.pcss';

.Projects {
    align-items: center;
    display: flex;
    justify-content: center;

    & > section {
        flex-basis: 57.5%;
    }
}

@media (--medium-only) {

    .Projects > section {
        flex-basis: 75%;
    }
}

@media (--small-only) {

    .Projects > section {
        flex-basis: 80%;
        padding: var(--gutter) var(--gutter-medium) 0;
    }
}
