@import 'styles/main.pcss';

.Header {
    margin-bottom: calc(var(--gutter) * 2);

    & .date {
        display: inline;
        margin-bottom: 0;
        margin-left: 5px;
    }

    & .meta {
        display: flex;
        justify-content: space-between;

        & > div {
            @apply --shrink;
        }
    }
}
