@import '~styles/main';

.home {
    composes: content from 'components/global/Content.scss';

    @include inverse(){
        :global(.subheader){
            color: darken($white, 5%);
        }
    }
}