@import '~styles/main';

.container {
    padding-top: $navigation-height;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    @include inverse(true) {
        @include inverseStyles();
    }
}
