@import 'styles/main.pcss';

.Main {
    display: flex;
    flex-direction: row;
    flex: 1;
}

@media (--small-only) {

    .Main {
        padding-left: var(--gutter-medium);
        padding-right: var(--gutter-medium);
    }
}
