@import '~styles/util';

.navigation {
    height: $navigation-height;
    background: $white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.025);
}

@include breakpoint(small only){
    .navigation {
        position: fixed;
        top: 0;
        width: 100%;
    }
}