@import '~styles/main';

$medium-headers: map-get($header-sizes, 'medium');
$h2-font-size: map-get($medium-headers, 'h2');

.content {
    @include breakpoint(medium up){
        h2 {
            $vr: vertical-rhythm($h2-font-size);
            $ratio: map-get($vr, 'ratio');
            $count: map-get($vr, 'count');

            font-size: rem-calc($h2-font-size);
            line-height: emy($ratio);
            margin-top: emy(($ratio / $count) * 2.25);
            margin-bottom: emy(($ratio / $count) * 0.25);
        }
    }
}